
.post {
margin-top: 20px;
clear: both;

.pic {
float: left;
clear: both;
margin-right: 20px;
margin-bottom: 15px;
}

.text {
text-align: justify;
}
}

.post {
margin-top: 20px;
clear: both;

.pic {
float: left;
clear: both;
margin-right: 20px;
margin-bottom: 15px;
}

.text {
text-align: justify;
}
}